@charset "utf-8";
/* CSS Document */
.box { width:1226px; margin:0 auto;}
.login-box { height:40px; background:#333;}
.login { width:1226px; height:40px; margin:0 auto;}
.login ul li{ float:left; position:relative; top:0; left:0;}
.login li a { height:40px; line-height:40px; color: #a4a4a4; font-size:11px; margin-right:18px;}
.login>ul>li>a:hover{ color:#FFF;}
.login li a.buy { float:right; width:160px; height:40px; background:#424242; text-align: center;
margin-right:0; padding-right:18px; transition:0.2s;}
.login li span { position:absolute; right:0; top:40px; background:#FFF; height:100px; width:296px; line-height:100px; opacity:0; transition:0.2s linear;}
.login>ul>li>a.buy:hover { color:#ff6700; background:#fff;}
.login>ul>li>a.buy:hover~span { opacity:1;}

.nav-box { height:100px; line-height:100px; }
.nav-box a{ float:left; padding:20px 0;}
.nav-box a.logo1 { padding:22.5px 29px 22.5px 0;}
.nav-box ul li{ float:left; transition:0.2s linear;}
.nav-box>ul>li>a:hover{ color:#ff6700;}
.nav-box li a { float:left; color:#333; height:100%; padding:0 16px; margin:0 0; font-size:16px;}
.nav-box a.input{ height:100px; padding:0 0; float:right;}
.nav-box a.logo2 { animation:move 2s linear alternate infinite;}
@keyframes move { 
 100% { transform: rotateX(180deg);}
}
/*导航*/
.banner-box { height:460px; margin-bottom:14px;}
.banner-box .left-side { height:460px; width:234px; background:#626262;}

.banner-box .left-side li { width:234px; height:42px; line-height:42px; text-indent:30px;}
.banner-box .left-side li:hover { background:#ff6700;}
.banner-box .left-side a{ color:#fff; font-size:14px; display:block;}
.banner-box .pad-li { margin-top:20px;}
.banner-box div.button { float:right; position:relative; top:0; left:0; width:992px; height:460px;}
.banner-box img { margin-left:14px; position:absolute; top:0; left:0; width:992px; height:460px;
opacity:0; transition:0.5s linear;}

.banner-box input { position:absolute; right:0; bottom:23px; z-index:1;}
.banner-box div input:first-of-type{ right:100px;}
.banner-box div input:nth-of-type(2) { right:80px;}
.banner-box div input:nth-of-type(3){ right:60px;}
.banner-box div input:nth-of-type(4){ right:40px;}
.banner-box div input:last-of-type{ right:20px;}
.banner-box div input:first-of-type:checked~.img1 { opacity:1;}
.banner-box div input:nth-of-type(2):checked~.img2 { opacity:1;}
.banner-box div input:nth-of-type(3):checked~.img3 { opacity:1;}
.banner-box div input:nth-of-type(4):checked~.img4 { opacity:1;}
.banner-box div input:last-of-type:checked~.img5 { opacity:1;}


.ad-box { height:170px; width:1226px;}
.ad-box a{ float:left; margin-right:14px; margin-bottom:25px;transition:0.2s linear;}
.ad-box .ad-below{ margin-right:0;}  
.ad-box .shadow:hover { box-shadow:3px 3px 50px #CCC;  }

.superstar-box { height:399px; width:1226px; float:left; margin-bottom:99px;}
.superstar-box .super-title { height:59px;  }
.superstar-box h2{ height:59px; line-height:59px; font-size:21px; font-weight: normal;}
.superstar-box .super-title img { border:1px #e0e0e0 solid; padding:5px 12px; margin-top:25px;}
.superstar-box ul { width:1226px; height:340px;}
.superstar-box ul li { float:left; height:340px; width:234px; margin-right:14px; 
background: #fafafa; position:relative; top:0; left:0;}
.superstar-box ul .mr-0{ margin-right:0;}
.mi-phone a { float:left; text-align:center; font-size:12px;}
.mi-phone a:first-of-type { width:234px; margin-bottom:12px;}
.mi-phone a:nth-of-type(2) { width:234px; color:#000; margin-bottom:11px;}
.mi-phone a:nth-of-type(3) { width:234px; color:#b0b0b0; margin-bottom:20px;}
.mi-phone a:last-of-type { width:234px; color: #ff6700; position: absolute; bottom:15px; left:0; } 
.mi-phone a.mi-last { margin-bottom:20px;}

/*推荐商品*/
div.superstar-box.recommend { height: 359px; width:1226px; margin-bottom:21px;}
.superstar-box ul.best-thing { width:1226px; height:300px; }
.superstar-box ul li.best { float:left; height:300px; width:234px; margin-right:14px;
 background:#fff; position:relative; top:0; left:0; transition:0.2s linear;}
.recommend>ul>li:hover { top:-3px;}
.superstar-box ul li.mr-0 { margin-right:0;}
.best a{ float:left; text-align:center; font-size:14px;}
.best a:first-of-type { width:234px; margin-bottom:17px;}
.best a:nth-of-type(2) { width:234px; color:#000; margin-bottom:5px; }
.best a:nth-of-type(3) { width:234px; color: #ff6700; margin-bottom:5px; }
.best a:last-of-type { width:234px; color: #b0b0b0; } 
.best a.mi-last { margin-bottom:0;}

.back-box { background:#f5f5f5; height:5100px;}
.back-box .box{ width:1226px; margin:0 auto;}
/*智能硬件*/
.smart-box { width:1226px;height:695px; float:left; margin-bottom:22px;}
.smart-box .smart-title { height:59px; }
.smart-box h2 { height:59px; line-height:59px; font-size:21px; font-weight:normal;}
.smart-box p { height:59px; line-height:59px; font-size:16px; color:#000; transition:0.2s;}
.smart-box .smart-title a:hover p { color:#ff6700;}
.smart-box .smart-title img{ margin-top:20px; margin-left:8px;}
.smart-box .below-part { width:1226px; height:636px; position:relative; top:0; left:0;}
.smart-box .left-side { margin-right:14px; transition:0.2s linear; position:absolute; top:0; left:0;}
.smart-box ul { width:978px; height:636px; margin-right:0px; float:left; position: absolute; 
top:0; right:0; }
.smart-box ul li{ float:left; height:300px; width:234px; margin-right:14px; margin-bottom:14px; background:#fefefe; position:relative; top:0; left:0; transition:0.2s linear;}
.smart-box ul .mr-0 { margin-right:0;}
.shop-part a{ float:left; text-align:center; font-size:12px;}
.shop-part a:first-of-type { width:234px; margin-bottom:10px;}
.shop-part a:nth-of-type(2) { width:234px; color:#000;  }
.shop-part a:nth-of-type(3) { width:234px; color:#b0b0b0;}
.shop-part a:last-of-type { width:234px; color:red; position: absolute; bottom:8px; left:0;} 
.shop-part a span{ text-decoration:line-through; color:#b0b0b0;}
.smart-box .left-side:hover { box-shadow:3px 3px 50px #CCC; top:-3px; }
.smart-box li:hover { box-shadow:3px 3px 50px #CCC; top:-3px; }
/*搭配*/
.match-box { width:1226px; height:672px; float:left; margin-bottom:22px;}
.match-box .match-title{ height:59px;}
.match-box h2 { height:59px; line-height:59px; font-size:21px; font-weight:normal;}
.match-box .match-title li { height:59px; line-height:59px; float:right; margin-right:30px;}
.match-box .match-title a{ color:#000; font-size:15px; transition:0.2s linear;} 
.match-box .match-title a.mr-0 { margin-right:0;}
.match-box .match-title ul li:hover a{ text-decoration:underline; color:#ff6700;}
.match-box .macth-below { width:1226px; height:613px;}
.match-box .match-below .goods-part {  float:left; width:234px; height:300px; margin-right:14px; background:#fefefe;  }
.match-box .match-below li { margin-bottom:14px; position:relative; top:0; left:0; transition:0.2s linear;}
.match-box .match-below li.mr-0{ margin-right:0;}
.match-box .match-below .double { width:234px; height:143px;}
.goods-part a{ float:left; text-align:center; font-size:12px;}
.goods-part a:first-of-type { width:234px; margin-bottom:9px;}
.goods-part a:nth-of-type(2) { width:234px; color:#000;  }
.goods-part a:nth-of-type(3) { width:234px; color:#ff6700;}
.goods-part a:last-of-type { width:234px; color: #b0b0b0;} 
.goods-part span { color:#b0b0b0; text-decoration:line-through;}
.match-box .match-below li p { font-size:10px;  width:234px; height:70px; background:#ff6700; color:#fff; position:absolute; left:0; bottom:0; opacity:0; transition:0.2s linear;}
.match-box .match-below li p b{ font-weight:normal; color: #CCC;}
.match-below li:hover { box-shadow:3px 3px 50px #CCC; top:-3px; }
.match-below li:hover p { opacity:1;}
/*热评产品*/
.buzz-box { width:1226px; height:474px; float:left; margin-bottom:21px;}
.buzz-box .buzz-title { height:59px;}
.buzz-box h2 { height:59px; line-height:59px; font-size:21px; font-weight:normal;} 
.buzz-box ul { width:1226px; height:415px;}
.buzz-box ul li{ float:left; height:415px; width:296px; margin-right:14px; background:#fefefe; 
position:relative; top:0; left:0; transition:0.2s linear;}
.buzz-box>ul>li:hover { box-shadow:3px 3px 50px #CCC; top:-3px;}
.buzz-box ul .mr-0 { margin-right:0;}
.buzz-part a{ float:left;  font-size:12px;}
.buzz-part a:first-of-type { width:296px; margin-bottom:34px;}
.buzz-part a:nth-of-type(2) { width:296px; color:#000; margin-bottom:20px;}
.buzz-part a:nth-of-type(3) { width:170px; color:#000;}
.buzz-part a:last-of-type { width:100px; color:#ff6700;}
.buzz-part span{  float:left; width:296px; color:#b0b0b0; margin-bottom:10px; font-size:14px;}
.buzz-part a.blank { margin-bottom:40px;} 

/*内容*/
.content-box { width:1226px; height:479px; float:left; margin-bottom:21px;}
.content-box .content-title { height:59px;}
.content-box h2 { height:59px; line-height:59px; font-size:21px; font-weight:normal;}
.content-box ul { width:1226px; height:419px; }
.content-box ul li{ float:left; height:419px; width:296px; margin-right:14px;
 border-top:1px solid #ff6700; background:#fefefe; position:relative; top:0; left:0; 
 transition:0.2s linear;}
.content-box ul li .pre,.content-box ul li .next { color:#fff; font-size:20px; position:absolute; top:50%; margin-top:-30px; width:25px; height:60px; line-height:60px; text-align:center; background: #999; opacity:0; transition:0.2s;}
.content-box ul li .pre { left:0;}
.content-box ul li .next { right:0;}
.content-box>ul>li:hover { box-shadow:3px 3px 50px #CCC; top:-3px;}
.content-box>ul>li:hover .pre{ opacity:0.5;}
.content-box>ul>li:hover .next{ opacity:0.5;}
.content-box>ul>li>a.pre:hover { opacity:1;}
.content-box>ul>li>a.next:hover { opacity:1;}
.content-box ul .mr-0 { margin-right:0;} 
.content-part p,.content-part a{ float:left; width:296px;  text-align:center;}
.content-part p { margin-top:40px; color:#ff6700; font-size:15px; margin-bottom:10px;}
.content-part a:first-of-type { margin-top:0; color:#000; font-size:20px; margin-bottom:10px;}
.content-part a:nth-of-type(2) { color: #b0b0b0; margin-bottom:10px; font-size:14px;}
.content-part a:nth-of-type(3) {  color:#000; margin-bottom:10px;}
.content-box ul li.miui { border-top:1px solid #83c44e;}
.content-part p.green{ color:#83c44e;}
.content-box ul li.game { border-top:1px solid #e53935;}
.content-part p.red{ color:#e53935;}
.content-box ul li.apply { border-top:1px solid #2196f3;}
.content-part p.blue{ color:#2196f3;}
.content-part a.two { margin-bottom:34px;}
/*视频*/
.video-box { width:1226px; height:344px; float:left; margin-bottom:60px;}
.video-box h2 { width:1226px; height:59px; line-height:59px; font-size:21px; font-weight:normal;}
.video-box ul { width:1226px; height:285px;}
.video-box ul li { width:296px; height:285px; margin-right:14px; text-align:center;
 background:#fefefe; position:relative; top:0; left:0; transition:0.2s linear;}
.video-box>ul>li:hover { box-shadow:3px 3px 50px #CCC; top:-3px;}
.video-box ul .mr-0 { margin-right:0;}
.video-part img { margin-bottom:32px;}
.video-part p { color:#000; margin-bottom:14px; font-size:16px;}
.video-part p.color { color:#b0b0b0; font-size:14px;}

.last-box { width:1226px; height:273px; float:left; margin-bottom:30px;}
.last-title  { width:1226px; height:80px;}
.last-title li { width:245px; height:80px; line-height:80px; float:left; text-align:center; 
font-size:15px;}
.last-title li img { margin-right:8px; position:relative; top:5px;}
.last-title li a { color:#424242;} 
.last-box>ul>li>a:hover { color:#ff6700;} 
.last-part { width:1226px; height:192px; border-top:1px solid #b0b0b0;}
.last-part ul.left-part  { height:192px; width:960px;  margin-right:0; }
.last-part .left-part .form { height:192px; width:160px;}
.form li { margin-bottom:10px; color:#757575; font-size:14px; }
.form li h2 { margin-top:30px; font-size:18px; color:#000; font-weight:normal;}
.form li a{ color:#b0b0b0;}
.last-box>.last-part>.left-part>ul>li>a:hover { color:#ff6700;}
.right-part ul li { height:192px; text-align:center;}
.right-part .num { color: #ff6700; font-size:30px; margin-top:24px; margin-bottom:10px;} 
.right-part .time { color: #757575; margin-bottom:10px;}
.right-part .service { width:180px; height:28px; color:#ff6700; border:1px solid #ff6700;}
.right-part .service img { margin:0 10px;}

.fina-box { width:1226px; margin:0 auto;}
.message-box { width:1226px; height:165px; float:left;}
.message-box .mes-body { width:1226px; height:72px; margin-bottom:30px; float:left;}
.mes-body .mes-left { width:56px; height:72px; float:left; margin-right:15px; }
.mes-body .mes-middle { width:830px; height:72px; float:left; font-size:12px;}
.mes-body .mes-middle .color { color:#b0b0b0;}
.mes-below { width:1226px; text-align:center; color:#b0b0b0; font-size:24px; font-family:'楷体'; margin-bottom:30px;} 





